<ion-view title='За апликацијата'>
  <ion-content>
    <div class='row'>
      <div class='col col-20'>
        <div>
          <img src='img/marker-icon.svg' alt='лото'
              height='64' width='64'></img>
        </div>
      </div>
      <div class='col col-60'>
        <div>
          Version: <strong>{{ appVersion }}</strong><br />
          Name: <strong>{{ appName }}</strong><br />
          Author: <strong>Andreja Tonevski</strong><br />
          License: <strong>MIT</strong><br />
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
