/* Empty. Add your own CSS if you like */
.bar-green {
  background-color: palegreen!important;
  margin: 0px!important;
  padding: : 0px!important;
  border: 0px;
}
.bar-dark-green {
  background-color: mediumseagreen!important;
  margin: 0px!important;
  padding: : 0px!important;
  border: 0px;
}

.item-terminal {
  padding-top: 2px;  
  padding-bottom: 2px; 
  margin: 0;

  font-size: 14px;

  border-top: none;
  border-bottom: dotted;
  border-width: 1px;
}
